parameters:
	ignoreErrors:
		-
			rawMessage: Possibly invalid array key type int|string|null.
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Entity/BlockInteractor.php

		-
			rawMessage: Variable method call on Sonata\PageBundle\Model\PageInterface.
			identifier: method.dynamicName
			count: 1
			path: src/Entity/PageManager.php

		-
			rawMessage: 'Cannot call method getId() on array<string, bool|string>|Sonata\PageBundle\Model\PageInterface|Sonata\PageBundle\Model\SiteInterface.'
			identifier: method.nonObject
			count: 1
			path: src/Form/Type/PageSelectorType.php

		-
			rawMessage: 'Only booleans are allowed in &&, array<string, bool|string>|Sonata\PageBundle\Model\PageInterface|Sonata\PageBundle\Model\SiteInterface|null given on the right side.'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: src/Form/Type/PageSelectorType.php

		-
			rawMessage: 'Parameter #2 $currentPage of method Sonata\PageBundle\Form\Type\PageSelectorType::childWalker() expects Sonata\PageBundle\Model\PageInterface|null, array<string, bool|string>|Sonata\PageBundle\Model\PageInterface|Sonata\PageBundle\Model\SiteInterface|null given.'
			identifier: argument.type
			count: 1
			path: src/Form/Type/PageSelectorType.php

		-
			rawMessage: 'Parameter #2 ...$arrays of function array_merge expects array, array<string, bool|string>|Sonata\PageBundle\Model\PageInterface|Sonata\PageBundle\Model\SiteInterface|null given.'
			identifier: argument.type
			count: 1
			path: src/Form/Type/PageSelectorType.php

		-
			rawMessage: Possibly invalid array key type string|null.
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Page/PageServiceManager.php

		-
			rawMessage: Access to constant BUILTIN_TYPE_BOOL on an unknown class Symfony\Component\PropertyInfo\Type.
			identifier: class.notFound
			count: 1
			path: src/Serializer/BlockTypeExtractor.php

		-
			rawMessage: Access to constant BUILTIN_TYPE_INT on an unknown class Symfony\Component\PropertyInfo\Type.
			identifier: class.notFound
			count: 2
			path: src/Serializer/BlockTypeExtractor.php

		-
			rawMessage: Access to constant BUILTIN_TYPE_STRING on an unknown class Symfony\Component\PropertyInfo\Type.
			identifier: class.notFound
			count: 3
			path: src/Serializer/BlockTypeExtractor.php

		-
			rawMessage: Instantiated class Symfony\Component\PropertyInfo\Type not found.
			identifier: class.notFound
			count: 6
			path: src/Serializer/BlockTypeExtractor.php

		-
			rawMessage: 'Method Sonata\PageBundle\Serializer\BlockTypeExtractor::getTypes() has invalid return type Symfony\Component\PropertyInfo\Type.'
			identifier: class.notFound
			count: 1
			path: src/Serializer/BlockTypeExtractor.php

		-
			rawMessage: Access to constant BUILTIN_TYPE_OBJECT on an unknown class Symfony\Component\PropertyInfo\Type.
			identifier: class.notFound
			count: 5
			path: src/Serializer/InterfaceTypeExtractor.php

		-
			rawMessage: Instantiated class Symfony\Component\PropertyInfo\Type not found.
			identifier: class.notFound
			count: 5
			path: src/Serializer/InterfaceTypeExtractor.php

		-
			rawMessage: 'Method Sonata\PageBundle\Serializer\InterfaceTypeExtractor::getBlockType() has invalid return type Symfony\Component\PropertyInfo\Type.'
			identifier: class.notFound
			count: 1
			path: src/Serializer/InterfaceTypeExtractor.php

		-
			rawMessage: 'Method Sonata\PageBundle\Serializer\InterfaceTypeExtractor::getPageType() has invalid return type Symfony\Component\PropertyInfo\Type.'
			identifier: class.notFound
			count: 1
			path: src/Serializer/InterfaceTypeExtractor.php

		-
			rawMessage: 'Method Sonata\PageBundle\Serializer\InterfaceTypeExtractor::getTypes() has invalid return type Symfony\Component\PropertyInfo\Type.'
			identifier: class.notFound
			count: 1
			path: src/Serializer/InterfaceTypeExtractor.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Symfony\\Component\\HttpFoundation\\Response'' and Symfony\Component\HttpFoundation\Response will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Block/ContainerBlockServiceTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Symfony\\Component\\HttpFoundation\\Response'' and Symfony\Component\HttpFoundation\Response will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Block/PageListBlockServiceTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Sonata\\PageBundle\\Model\\PageInterface'' and Sonata\PageBundle\Model\PageInterface will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 4
			path: tests/CmsManager/CmsPageManagerTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with arguments ''Sonata\\PageBundle\\Model\\PageBlockInterface'', Sonata\PageBundle\Model\PageBlockInterface and ''should be a block'' will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/CmsManager/CmsPageManagerTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertTrue() with true will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Functional/BasePantherTestCase.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Sonata\\PageBundle\\Model\\PageBlockInterface'' and Sonata\PageBundle\Model\PageBlockInterface will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Model/BlockInteractorTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Sonata\\PageBundle\\Model\\SnapshotPageProxyInterface'' and Sonata\PageBundle\Model\SnapshotPageProxy will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Model/SnapshotPageProxyTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with arguments ''Symfony\\Component\\HttpFoundation\\Response'', Symfony\Component\HttpFoundation\Response and ''Should return a…'' will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Page/Service/BasePageServiceTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Symfony\\Component\\HttpFoundation\\Request'' and Symfony\Component\HttpFoundation\Request will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 4
			path: tests/Request/RequestFactoryTest.php

		-
			rawMessage: Variable method call on object.
			identifier: method.dynamicName
			count: 1
			path: tests/Site/HostPathSiteSelectorTest.php

		-
			rawMessage: Variable property access on object.
			identifier: property.dynamicName
			count: 2
			path: tests/Site/HostPathSiteSelectorTest.php

		-
			rawMessage: Variable method call on object.
			identifier: method.dynamicName
			count: 1
			path: tests/Site/HostSiteSelectorTest.php

		-
			rawMessage: Variable property access on object.
			identifier: property.dynamicName
			count: 2
			path: tests/Site/HostSiteSelectorTest.php
