{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{% trans from 'SonataPageBundle' %}title_create_snapshot{% endtrans %}{% endblock %}

{% block content %}

    {% trans from 'SonataPageBundle'%}message_create_snapshot{% endtrans %}

    <form action="{{ admin.generateUrl('create') }}" method="POST">

        {% if admin.isChild() %}
            <div style="display:none">{{ form_rest(form) }}</div>
        {% else %}
            {{ form_rest(form) }}
        {% endif %}

        <div class="actions">
            <input class="btn primary" type="submit" name="create" value="{% trans from 'SonataPageBundle' %}button_create_snapshot{% endtrans %}"/>
            {% trans from 'SonataPageBundle' %}or_list{% endtrans %}

            <a class="btn" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
        </div>
    </form>
{% endblock %}