
/********************************************************************\
   Page tree
\********************************************************************/
.page-tree {
    list-style: none;
    padding-left: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.page-tree ul {
    list-style: none;
    padding-left: 30px;
}
.page-tree__item {
    display: block;
    padding: 7px 15px 7px 7px;
    border: 1px solid #ddd;
    border-radius: 2px;
    position: relative;
    margin-bottom: 5px;
    color: #444;
}
.page-tree__item .label {
    font-size: 12px;
    margin-top: 2px;
    border-radius: 2px;
}
.page-tree__item .label-warning {
    margin-right: 5px;
}
.page-tree__item .fa-caret-right {
    position: absolute;
    top: 9px;
    left: -22px;
    color: #3c8dbc;
}
.page-tree__item:hover {
    background: #eee;
    color: #000;
}
.page-tree__item__is-hybrid {
    margin-right: 5px;
}
.page-tree__item.is-active {
    border: 1px solid #3c8dbc;
}
.page-tree__item.is-active:after,
.page-tree__item.is-active:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.page-tree__item.is-active:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 8px;
    margin-top: -8px;
}
.page-tree__item.is-active:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #3c8dbc;
    border-width: 9px;
    margin-top: -9px;
}
.page-tree__item.is-active:hover:after {
    border-left-color: #eee;
}
.page-tree__item.is-toggled .fa-caret-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.page-tree__item__edit {
    font-weight: bold;
}
.page-tree__item__edit:hover {
    text-decoration: underline;
}

/**
 * Toggleable tree
 */
.page-tree--toggleable li > ul {
    display: none;
}
.page-tree--toggleable .page-tree__item {
    margin-left: 25px;
}
.page-tree--toggleable .page-tree__item .fa-caret-right {
    cursor: pointer;
}
.page-tree--toggleable .page-tree__item .fa-caret-right:after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -10px;
    right: -10px;
}