/*!
 * This file is part of the Sonata Project package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

div.cms-fake-block {
  display: none;
}

li.sonata-page-menu-children-element {
  float: left;
  font-size: 16px;
  list-style: none;
  margin-left: 20px;
}

a.sonata-media-gallery-media-item-link {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 7.5%);
  display: block;
  float: left;
  margin: 0 0 18px 20px;
  padding: 4px;
}

a.sonata-media-gallery-media-item-link:hover {
  border-color: #0069d6;
  box-shadow: 0 1px 4px rgb(0 105 214 / 25%);
}
