/*!
 * This file is part of the Sonata Project package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

div.cms-fake-block {
  display: none;
}

html.sonata-bc,
body.sonata-bc {
  background-color: #eee;
}

.sonata-bc .container > footer div {
  text-align: center;
}

.sonata-bc .container {
  width: 820px;
}

.sonata-bc .content {
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  margin: 0 -20px;
  padding: 20px;
}

.sonata-bc .page-header {
  background-color: #f5f5f5;
  margin: -20px -20px 20px;
  padding: 20px 20px 10px;
}

.sonata-bc .page-header a {
  color: #404040;
  font-weight: bold;
}

.sonata-bc .page-header .nav {
  margin: 0;
}

.sonata-bc .page-header .nav a {
  font-size: 1.5em;
}

.sonata-bc .page-header .nav .dropdown-menu a {
  font-size: 1em;
}

.sonata-bc .page-header .nav .dropdown-toggle .caret-menu {
  border-bottom-color: #404040;
  border-top-color: #404040;
}

.sonata-bc .content .span4 {
  margin-left: 0;
  padding-left: 19px;
}

.sonata-bc .topbar .btn {
  border: 0;
}

.sonata-bc .row {
  margin-left: auto;
}

li.sonata-page-menu-children-element {
  float: left;
  font-size: 16px;
  list-style: none;
  margin-left: 20px;
}

a.sonata-media-gallery-media-item-link {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 7.5%);
  display: block;
  float: left;
  margin: 0 0 18px 20px;
  padding: 4px;
}

a.sonata-media-gallery-media-item-link:hover {
  border-color: #0069d6;
  box-shadow: 0 1px 4px rgb(0 105 214 / 25%);
}
