/**
 *
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * generated on: Thu Nov 06 2014 00:08:06 GMT+0100 (CET)
 * revision:     71deefa3b32e338654bad5b904239358daf1d7e6
 *
 */
/**
 * Code from http://twitter.github.com/bootstrap/examples/container-app.html
 */
div.cms-fake-block {
  display: none; }

/* Override some defaults */
html.sonata-bc, body.sonata-bc {
  background-color: #eee; }

.sonata-bc .container > footer div {
  text-align: center;
  /* center align it with the container */ }

.sonata-bc .container {
  width: 820px;
  /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */ }

/* The white background content wrapper */
.sonata-bc .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

/* Page header tweaks */
.sonata-bc .page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px; }

.sonata-bc .page-header a {
  color: #404040;
  font-weight: bold; }

.sonata-bc .page-header .nav {
  margin: 0; }

.sonata-bc .page-header .nav a {
  font-size: 1.5em; }

.sonata-bc .page-header .nav .dropdown-menu a {
  font-size: 1em; }

.sonata-bc .page-header .nav .dropdown-toggle .caret-menu {
  border-top-color: #404040;
  border-bottom-color: #404040; }

/* Give a quick and non-cross-browser friendly divider */
.sonata-bc .content .span4 {
  margin-left: 0;
  padding-left: 19px; }

.sonata-bc .topbar .btn {
  border: 0; }

.sonata-bc .row {
  margin-left: auto; }

li.sonata-page-menu-children-element {
  float: left;
  list-style: none;
  margin-left: 20px;
  font-size: 16px; }

a.sonata-media-gallery-media-item-link {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  float: left;
  margin: 0 0 18px 20px;
  padding: 4px; }

a.sonata-media-gallery-media-item-link {
  display: block; }

a.sonata-media-gallery-media-item-link:hover {
  border-color: #0069d6;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }

/* sonata top bar style */
.sonata-page-top-bar {
  height: 45px; }

.sonata-page-top-bar label {
  color: #BFBFBF; }

.cms-edit-mode-only {
  visibility: hidden; }

.cms-edit-mode .cms-edit-mode-only {
  visibility: visible; }

/* original block display */
.cms-edit-mode .cms-block {
  position: relative;
  min-height: 40px; }

/* block layer display */
.cms-edit-mode .cms-layout-role-block {
  background-color: rgba(255, 150, 0, 0.3); }

/* container layer display */
/* layer title display */
.cms-edit-mode .cms-layout-title span {
  display: inline-block;
  padding: 2px;
  font-size: 12pt;
  color: #ffffff; }

.cms-edit-mode .cms-layout-role-container > .cms-layout-title {
  display: block;
  width: 100%;
  background-color: #323232; }

.cms-edit-mode .cms-layout-role-block > .cms-layout-title {
  display: block;
  background-color: #4b3200; }

/* layer title display (when dragging) */
.cms-edit-mode .cms-container-drop-zone .cms-layout-role-block > .cms-layout-title {
  display: block; }

.cms-edit-mode .cms-container-drop-zone > .cms-layout-layer .cms-layout-title {
  display: block; }

/* container drag drop zone*/
.cms-edit-mode .cms-container {
  padding-top: 24px;
  border: 2px dotted #646464; }

/*.cms-edit-mode .cms-container > .cms-layout-layer {*/
/*border: 2px dotted rgba(100, 100, 100, 1);*/
/*}*/
/* placeholder class used to simulate a dropped item while dragging */
.cms-edit-mode .cms-block-placeholder {
  background-color: rgba(100, 100, 100, 0.2);
  min-height: 40px; }

/* hover attributes */
.cms-edit-mode div.cms-block-hand-over {
  cursor: move; }

/* block's layer when hover */
.cms-edit-mode div.cms-block-hand-over > .cms-layout-role-block {
  /*border: 1px solid #000000;*/
  background-color: rgba(255, 150, 0, 0.5); }
