{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{% trans from 'SonataPageBundle' %}title_create_snapshots{% endtrans %}{% endblock %}

{% block content %}

    {{ "message_create_snapshots"|trans({'%site%': object.name }, 'SonataPageBundle') }}

    <div class="well form-actions">
        <form action="{{ admin.generateUrl('snapshots', {'id': object.id}) }}" method="POST">

            <input class="btn btn-primary" type="submit" name="create" value="{% trans from 'SonataPageBundle' %}button_create_snapshots{% endtrans %}"/>

            {% trans from 'SonataPageBundle' %}or_list{% endtrans %}

            <a class="btn" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
        </form>
    </div>

{% endblock %}